.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

.jumbotron {
  background: url('snow.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 80px;
}

#about {
      background: #DBB1CD;
     background-size: cover;
     background-position: center;
     color: white;
     padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
}
#why {
      background: #C0C0C0;
     background-size: cover;
     background-position: center;
     color: white;
     padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 130px;
    padding-left: 50px;
}
#start {
      background: #DBB1CD;
     background-size: cover;
     background-position: center;
     color: white;
     padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
#locations {
  padding-top: 50px;
 padding-right: 30px;
 padding-bottom: 50px;
 padding-left: 80px;
  }

   #map {
     height: 400px;
     width: 100%;
   }

   #logo {
    position: absolute;
    right: 0px;
    width: 150px;
    padding: 10px;
}
.carousel-caption {
    top: 0;
    bottom: auto;
    padding-top: 100px;
}
.carousel-caption h1 {
font-family:   Helvetica;
font-size:      5em;
}
#social {
  padding-top: 45px;
}
#social a{
  padding-right: 10px;
}
